numpy>=1.24
scipy>=1.11
pyyaml>=6.0
typer>=0.12
pandas>=2.0
matplotlib>=3.8
seaborn>=0.13
tqdm>=4.66
holoocean==2.0.1
gtsam
pynput
evo
rclpy
rosbag2_py
sensor_msgs_py
rosidl_runtime_py
geometry_msgs
nav_msgs
tf2_ros
